
/* font-family: 'Oswald', sans-serif; -- CSS code to use Oswald Font */
/* font location: https://fonts.google.com/share?selection.family=Oswald:wght@200;300;400;500;600;700 */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.brand-title a:link, .brand-title a:visited{
    color: white;
    text-decoration: none;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style-type: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.section-container {
    background-color: rgb(241, 237, 237);
    font-size: 2rem;
    margin: 100px 15px 50px 15px;
    text-align: center;
}

.action-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    background-color: rgb(112, 168, 223);
}

.action-button p {
    display: block;
    text-align: center;
}

.action-button p a {
    text-decoration: none;
}

#main-categories {
    padding: 0;
}

#main-categories li {
    list-style-type: none;
}

.training-content p {
    line-height: 1.5rem;
}

.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.accordion-item {
    background-color: rgb(241, 237, 237);
    font-size: 1.5rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 3.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    
}

.accordion-item-header::after {
    content: '\002B';
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: '\2212';
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 3rem;
    border-top: 1px solid;
}

.accordion-item-body-content a{
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #333;
    color: white;
    height: 56px;
    padding-top: 20px;
    bottom: 0px;
    margin-top: 100px;
}







/* MEDIA QUERIES */


@media (min-width: 450px) {
    .action-button {
        width: 400px;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .section-container {
        margin: 50px 15px 50px 15px;
    }

    .accordion-item-body-content {
        font-size: 1rem;
    }
}

@media (min-width: 960px) {
    main {
        width: 960px;
        margin: auto;
    }
}



